footer{
    width: calc(100vw - 14rem);
    background-color: #151515;
    margin: 0;
    padding: 2rem 10rem 0 4rem;
    height: 13rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .logo img{
    height: 40px;
}

footer .logo{
    display: flex;
    align-items: center;

}

footer .logo .logo_text{
    font-size: 1rem;
    margin-left: 0.5rem;
    font-style: italic;
    font-weight: 600;
    color: white;
}

.main_info{
    color: #A2A2A2;
    font-size: 0.875rem;
    width: 450px;
}

footer .main_info .social i{
    margin-right: 1rem;
    font-size: 1.1rem;
}

footer .main_info .social {
    margin-bottom: 1rem;
}

footer .main_info .copyrights{
    color: #989898;
    opacity: 0.4;
    font-size: 0.75rem;
    display: block; 
}

footer .footer_links span{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

footer .footer_links ul{
    padding: 0;
}

footer .footer_links li{
    display: block;
    color: #A2A2A2;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}