<footer>
    <div class="main_info">
        <div class="logo">
            <img src="/assets/images/kindpng_707557.png" alt="">
            <span class="logo_text">CoinBase</span>
        </div>
        <p>
            Fusce ut elit aliquet, fermentum leo vel, tempus nunc. Fusce eu rhoncus augue. Fusce vel metus pharetra,
            fermentum
        </p>
        <div class="social">
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <span class="copyrights">© 2019 Designed by Cr8tiv_yemmy</span>
        <span class="copyrights">Developed for educational purpose by Koycho Koychev </span>
    </div>
    <div class="footer_links">
        <span>CoinBase Links</span>
        <ul>
            <a href="/home">
                <li>Home</li>
            </a>
            <a href="/about">
                <li>About Us</li>
            </a>
            <a href="#">
                <li>Blog</li>
            </a>
            <a href="/contacts">
                <li>Contact Us</li>
            </a>
        </ul>
    </div>
    <div class="footer_links footer_contacts">
        <span>Contact Us</span>
        <ul>
            <li>(+234) 137632128</li>
            <li>Coinbase@foobar.com</li>
            <li>Address goes here</li>
        </ul>
    </div>
</footer>