p.quote{
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    margin: 2em auto 0 auto;
    text-align: center;
    width: 500px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
}

p.quote::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 6px;
    border-radius: 5px;
    background-color: #FD749B;
}

p.CEO{
    text-align: center;
}

.about_info{
    padding: 35px;
    text-align: center;
    width: 60vw;
    border: 3px solid #FD749B;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 2em;
}

.about_info img{
    height: 330px;
}

.about_info h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 65px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
}

.about_info h3::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 6px;
    border-radius: 5px;
    background-color: #FD749B;
}

.about_info p{
    margin: 0 auto;
    width: 650px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.about_info .about_icons{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 20px auto 0px auto;
}

.about_info .about_icons i{
    font-size: 35px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
}