<app-header currentPage="about"></app-header>
<app-hero locaion='About' heading='Great service, Professional support'
    descr='CoinBase is a platform for trading your bitcoin and giftcard at the best rate, why not give us a trial.'
    imageUrl='/assets/images/f371d56b0eab188aa76d4bbb0f852f24.png' [hasButton]="false">
</app-hero>
<p class="quote">“Morbi sagittis ultricies ex, a tempus lorem suscipit non. Donec semper leo ut lobortis condimentum.
    Orci varius natoque penatibus et magnis”</p>
<p class="CEO">Jonh Doe • CEO CoinBase</p>
<div class="about_info">
    <img src="/assets/images/cb3c07d70fee48e7c987b2cd7b008685.png" alt="">
    <h3>About CoinBase</h3>
    <p>
        CoinBase is an online site and a p2admin platform that allows users to buy, sell and/ or exchange digital and
        fiat assets safely. Owned and managed by CoinBase Business Services established and Incoperated in Nigeria.
    </p>
    <div class="about_icons">
        <i class="fas fa-gem"></i>
        <i class="fas fa-award"></i>
        <i class="fas fa-users"></i>
        <i class="fas fa-headset"></i>
    </div>
</div>
<app-footer></app-footer>