<div class="login_container">
    <app-header></app-header>
    <div class="login_wrapper">
    <h3>Welcome back!</h3>
    <span>Kindly fill in your login details to proceed</span>
    <form action="" class="login_form">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="Password">
        <button class="primary_button" type="submit">Login</button>
    </form>
    <p>Don't have an account yet? <a href="/register">Sign Up</a></p>
</div>
<app-footer></app-footer>
</div>