<app-header currentPage="home"></app-header>

<app-hero locaion='Home' heading='We provide easy solution to exchange your Bitcoin/GiftCard for money'
    descr='CoinBase is a platform for trading your bitcoin and giftcard at the best rate, why not give us a trial.'
    imageUrl='/assets/images/d435c321d2f1ba1069d0a90ad0b22bf2.png' [hasButton]="true">
</app-hero>

<div class="home_welcome">
    <img src="/assets/images/cb3c07d70fee48e7c987b2cd7b008685.png" alt="">
    <div class="home_welcome_info">
        <h3>Welcome to CoinBase</h3>
        <p> We have the best rates . Simply start your exchange right now. Sign up for our Affiliate program and earn
            commission from each exchange. The earnings are credited in your account instantly and can be withdrawn
            right away. Also note some exchange directions are hidden for unregistered user. To ensure to have access to
            all our exchange directions and benefits kindly sign up and verify your identity.
        </p>
        <a href="/about" class="primary_button">DISCOVER</a>
    </div>
</div>

<div class="home_rates">
    <table>
        <tr>
            <th>OUR RATES</th>
            <th>OUR RESERVES</th>
            <th>LATEST EXCHANGES</th>
        </tr>
        <tr>
            <td>
        <tr class="table_split">
            <span> <i class="fab fa-btc"></i> BTC</span>
            <span>We Buy @<b>N350/$</b></span>
        </tr>
        <tr class="table_end">
            <span>We Sell @<b>N350/$</b></span>
        </tr>
        <tr class="table_split">
            <span> <i class="fab fa-ethereum"></i> ETH</span>
            <span>We Buy @ <b>N350/$</b></span>
        </tr>
        <tr class="table_end">
            <span>We Sell @<b>N350/$</b></span>
        </tr>
        </td>
        <td>
            <tr class="table_split">
                <span> <i class="fas fa-university"></i> Bank Transfer</span>
                <span><b>350</b> $</span>
            </tr>
            <tr class="table_split">
                <span> <i class="fab fa-btc"></i> Bitcoin</span>
                <span><b>350</b> BTC</span>
            </tr>
            <tr class="table_split">
                <span> <i class="fab fa-ethereum"></i> Ethereum</span>
                <span><b>400</b> ETH</span>
            </tr>
        </td>
        <td>
            <div class="exchanges_col">
                <tr *ngFor="let action of actionsArr">
                    <div>
                        <p>{{action.currencyFromLong}} {{action.currencyFromShort}}
                            <i class="fas fa-long-arrow-alt-right"></i>
                            {{action.currencyToLong}}
                        </p>
                        <p><b>{{action.amountFrom}}</b> {{action.currencyFromShort}}
                            <i class="fas fa-exchange-alt"></i>
                            <b>{{action.amountTo}}</b> {{action.currencyToShort}}
                        </p>
                    </div>
                </tr>
            </div>
        </td>
        </tr>
    </table>
</div>

<div class="home_welcome">
    <div class="home_welcome_info">
        <h3>Great experience with CoinBase</h3>
        <p> CoinBase is an online site and a p2admin platform that allows users to buy, sell and/ or exchange digital
            and fiat assets safely. Owned and managed by CoinBase Business Services established and Incoperated in
            Nigeria.
        </p>
        <a href="/about" class="primary_button">DISCOVER</a>
    </div>
    <img src="/assets/images/a471ab80c21f40e2f9cc2e9102904613.png" alt="">
</div>

<div class="home_trade">
    <section class="trade_wrapper">
        <h3>Trade from anywhere</h3>
        <a href="#">
            <i class="fab fa-bitcoin"></i>
            <p>Crypto Currency</p>
        </a>
        <a href="#">
            <i class="fas fa-address-card"></i>
            <p>Gift Cards</p>
        </a>
    </section>
</div>

<div class="our_blog">
    <h3>Our blog</h3>
    <p>Get to know the latest stuff via our blog post.</p>
    <div class="blog_post_cards">
        <app-blog-card *ngFor="let post of blogPostsArr" [category]="post.category" [date]="post.created_at"
            [title]="post.title" [content]="post.content">
        </app-blog-card>
    </div>
</div>

<app-footer></app-footer>