.home_welcome{
    display: flex;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
}

.home_welcome img{
    height: 400px;
}

.home_welcome_info{
    width: 40vw;
}

.home_welcome_info h3{
    color: #CB5FA6;
    font-size: 1.5rem;
}

.home_welcome_info p {
    font-size: 16px;
    line-height: 40px;
}


.home_welcome_info a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.home_rates{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 600px;
    width: 100vw;
    color: aliceblue;
    background: linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%);
    border-radius: 150px 0 150px 0;
}

.home_rates table{
    background-color: white;
    width: 75vw;
    height: 350px;
    border: none;
    border-radius: 40px;
    color: black;
    text-align: center;
    font-size: 16px;
}

.home_rates table th{
    color: #CB5FA6;
    border-bottom: 1px solid darkgray;
    font-size: 20px;
}

.home_rates table>tr:nth-child(1){
    height: 75px;
}


.home_rates table tr{
    width: 65%;
    max-width: 250px;
    margin: 0 auto;
}

.home_rates table td{
    vertical-align: top;
    padding-top: 1rem;
}

.home_rates table>tr:nth-child(2)>td:nth-child(2)>tr{
    margin-bottom: 2.75rem;
}

.home_rates table>tr:nth-child(2)>td:nth-child(3){
    width: 33%;
}

.home_rates table tr td tr{
    margin: 20px auto;
}

.home_rates table .table_split{
    display: flex;
    justify-content: space-between;
}

.home_rates table .table_end{
    display: flex;
    justify-content: flex-end;
}

.home_rates table i{
    color: #AF53AB;
    vertical-align: middle;
    font-size: 30px;
}

.home_rates table>tr:nth-child(2)>td:nth-child(3) i{
    font-size: 20px;
    margin: 0px 10px;
}

.home_rates table>tr:nth-child(2)>td:nth-child(3) tr{
    display: inline-block;
    margin-top: 0px;
    width: 100%;
}

.home_rates table>tr:nth-child(2)>td:nth-child(3) .exchanges_col div{
    border-bottom: 1px solid darkgray;
}

.exchanges_col{
    height: 250px;
    margin: 0 auto;
    width: 75%;
    overflow-y: scroll;
}

.exchanges_col::-webkit-scrollbar{
    width: 5px;
}

.exchanges_col::-webkit-scrollbar-track{
    width: 5px;
    background-color: lightgray;
    border-radius: 3px;
    overflow: hidden;
}

.exchanges_col::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #CB5FA6;
    border-radius: 3px;
}

.our_blog{
    margin-top: 3rem;
    text-align: center;
    height: 600px;
}

.our_blog h3{
    color: #CB5FA6;
    font-size: 1.5rem;
    margin-top: 0px;
}

.our_blog h3::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 6px;
    border-radius: 5px;
    background-color: #FD749B;
}

.our_blog p{
    font-size: 16px;
}

.our_blog .blog_post_cards{
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

.home_trade{
    display: flex;
    align-items: center;
    height: 600px;
    width: 100vw;
    color: aliceblue;
    background: linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%);
    border-radius: 150px 0 150px 0;
}

.home_trade .trade_wrapper{
    text-align: center;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
}

.home_trade .trade_wrapper h3{
    font-weight: 700;
    font-size: 35px;
    font-size: 1.5rem;
    margin-top: 2em;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
}

.home_trade .trade_wrapper h3::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 6px;
    border-radius: 5px;
    background-color: #FD749B;
}

.home_trade .trade_wrapper a{
    display: inline-block;
    width: 300px;
    height: 250px;
    border: 2px solid #9649B1;
    border-radius: 15px;
    margin: 0px 30px;
}

.home_trade .trade_wrapper a i{
    font-size: 75px;
    margin: 0.5em 0;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
}

.home_trade .trade_wrapper a p{
    font-size: 20px;
    font-weight: 700;
}