.card_wrapper{
    width: 365px;
    height: 320px;
    border-radius: 15px;
    border: 2px solid #9649B1;
    padding: 40px 50px;
    text-align: left;
}

.card_wrapper a{
    font-size: 1rem;
    font-weight: 500;
    line-height: 3rem;
}

.card_wrapper .card_info{
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.card_wrapper .card_info span{
    padding: 3px 10px;

}

.card_wrapper .card_info span:nth-child(1){
    border-right: 2px solid darkgray;
}

.card_wrapper h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    margin-bottom: 0px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card_wrapper p{
    font-size: 14px;
    line-height: 38px;
    text-align: left;
    margin-top: 5px;
    display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}