header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 2rem;
    position: absolute;
    top: 0;
    width: calc(100vw - 3rem);
    height: 6rem;
    position: sticky;
    background-color: white;
    z-index: 1000;
}

header .logo img{
    height: 50px;
}

header .logo{
    display: flex;
    align-items: center;

}

header .logo .logo_text{
    font-size: 2rem;
    margin-left: 0.5rem;
    font-style: italic;
    font-weight: 600;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0 0.5rem;
}

header>.nav{
    display: flex;
    justify-content: space-evenly;
}

div.actions{
    display: flex;
    align-items: center;
}

div.actions .auth a{
    color: aliceblue;
}

div.actions .auth li{
    margin-top: .65rem;
}

.current{
    border-bottom: 3px solid #FD749B;
}

.actions .auth a.primary_button:hover{
    color: black;
}