<app-header currentPage="contacts"></app-header>
<app-hero locaion='Contact Us' heading='24/7 Customer support Including weekends.'
    descr='We’re always there ti help regardless the number of queries at hand.'
    imageUrl='/assets/images/54ea5241c39d69a4a56321cd9211df3d.png' [hasButton]="false">
</app-hero>
<p>Please note that all message will be replied within the next 12hours</p>
<form class="contact_form" action="">
    <input type="text" placeholder="Name *">
    <input type="email" placeholder="Email *">
    <textarea name="comment" placeholder="Your Comment"></textarea>
    <button class="primary_button">Publish</button>
</form>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2935.1871880084736!2d23.367595915135244!3d42.63619147916928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85cb55668ae1%3A0x447f9dd693e57def!2sSoftware%20University!5e0!3m2!1sen!2sbg!4v1648989459282!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<app-footer></app-footer>
